.App {
  text-align: center;
}

.board {
    display: grid; /* Enables CSS Grid */ 
    grid-template-rows: repeat(3, 0fr);
    grid-template-columns: repeat(3, 0fr);
    
    /*clear: both;*/

}

.box {
  width: 150px; /* Total horizontal dimensions */
  height: 150px; /* Total vertical dimensions */
  border: 2px solid black; /* Shows the lines in the CSS grid */
}